# ignoring osc dirs:
**/.osc

# normal distributions do not need those, only RHEL-based do:
/fdupes/
/quilt/

## tuxjdk:
/tuxjdk/jdk8u*.tar.xz
/tuxjdk/tuxjdk-*.tar.xz

## netbeans:
/netbeans-beta/netbeans-beta/
/netbeans-beta/netbeans-beta.tar.xz
/netbeans-beta/binaries-cache/
/netbeans-beta/binaries-cache.tar.xz

## ant:
/ant/apache-ant-*-src.tar.bz2
/ant/ant-optional-libs.tar.xz

